<html>
    <head>
        <%- include('./include/header.ejs') %>
    </head>
    <body>
        <h1>
            Ciao <%= email %> 
            
        </h1>
        <%- include('./include/footer.ejs') %>
    </body>
</html>